<article>
  <% destination.forEach(des => { %>
  <div class="det_cont">
    <figure>
      <img src="<%=des.img_src  %>" alt="foto_wisata" />
    </figure>
    <figcaption>
      <h1><%=des.destination_name %></h1>
      <hr />
      <p><i class="bi bi-geo-alt"></i> <%=des.location %></p>
      <p><i class="bi bi-buildings"></i> <%=des.facilities %></p>
    </figcaption>
  </div>
  <div class="det_explain">
    <div class="exp">
      <p><%=des.explained %></p>
    </div>
  </div>
  <% }) %>
</article>
