<footer>
  <div class="map_menu">
    <div class="map_menu_item">
      <h5>Wisata Air</h5>
      <% desAir.forEach(d => { %>
      <ul>
        <li>
          <a href="/<%=name%>/des/detail/<%=d.destination_id%>"
            ><%=d.destination_name%></a
          >
        </li>
      </ul>
      <% }) %>
    </div>
    <div class="map_menu_item">
      <h5>Wisata Darat</h5>
      <% desDarat.forEach(d => { %>
      <ul>
        <li>
          <a href="/<%=name%>/des/detail/<%=d.destination_id%>"
            ><%=d.destination_name %></a
          >
        </li>
      </ul>
      <% }) %>
    </div>
    <div class="map_menu_item">
      <h5>Media Social</h5>
      <ul>
        <li>
          <a href=""><i class="bi bi-instagram"></i> Instagram</a>
        </li>
        <li>
          <a href=""><i class="bi bi-whatsapp"></i> Whatsapp</a>
        </li>
        <li>
          <a href=""><i class="bi bi-twitter"></i> Twitter</a>
        </li>
        <li>
          <a href=""><i class="bi bi-facebook"></i> Facebook</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
